table
{
    border-collapse: collapse;
    width: 50%;
}

td
{
    text-align: left;
}

th
{
    text-align: center;
    font-weight: bold;
}

table, td, th
{
    border: 1px solid black;
    padding: 1rem;
}